<div class="buckets">
	 <div>
	 	<div class="insideBtn">
       		<img id="bucketImg" src="/assets/img/bucket.png" alt="Bucket">
        	{{name}}
    	</div>
        <br>
        <button class="change-todo" data-id="{{id}}" data-newtodo="{{done}}">{{#if done}}DONE!{{else}}DO IT AGAIN!{{/if}}</button>
        <button class="delete-bucket" data-id="{{this.id}}">DELETE!</button>
    </div>
</div>
