<li>
	{{name}}
	<button class="change-todo" data-id="{{id}}" data-newtodo="{{todo}}">
		{{#if todo}}TO DO!{{else}}DONE!{{/if}}
	</button>
	<button class="delete-bucket" data-id="{{this.id}}">DELETE!</button>
</li>
