<li>
	{{name}}

	<button class="change-completion" data-id="{{id}}" data-newcompletion="{{todo}}">
		{{#if todo}}TO DO!{{else}}DONE!{{/if}}
	</button>

	<button class="delete-bucket" data-id="{{this.id}}">DELETE!</button>
</li>
